.friend-sidebar-card-container{
 width: 95%;
margin-bottom: 10px;

}
.friend-sidebar-card-wrapper{
    width: 100%;
    display: flex;
}
.friend-sidebar-card-pic{
    height: 45px;
    width: 45px;
    margin-right: 5px;
}
.friend-sidebar-card-pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.friend-sidebar-card-name h3{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
   
}
.friend-sidebar-card-name span{
    marker:  circle;
    color: #008000;
}